/***** Variables *****/
:root
{
  --primary-red: #be2e2f;
  --orange: #f99500;
  --blue: #009cff;
  --purple: #a66bbe;
}

/***** News slider *****/
/*** Slider frame ***/
.news-slider-container
{
  width: 100vw;
  height: 65vh;
  margin-bottom: 96px;
}

.news-slider-content::-webkit-scrollbar {width: 0; background: transparent;}
.news-slider-content::-webkit-scrollbar-thumb {background: transparent;}
.news-slider-content
{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/*** Individual slider frame ***/
/* News frame and background image settings */
.news-content-wrapper
{
  flex: none;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 20fr 1fr;

  scroll-snap-align: start;
  pointer-events: none;

  height: 100%;
  width: 100%;
  padding: 64px 16px;
}

.news-content-wrapper::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.swipe-arrow
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: visible;

  margin-inline: 64px;
  font-family: 'Lato', sans-serif;
}

.swipe-arrow i
{
  font-size: 2rem;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.swipe-arrow i:hover,
.swipe-arrow i:focus
{
  transform: scale(1.2);
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.15);
}

#news-01 {background: url(../img/slider/slider_01.jpg) no-repeat center center/cover;}
#news-02 {background: url(../img/slider/slider_02.jpg) no-repeat center center/cover;}
#news-03 {background: url(../img/slider/slider_03.jpg) no-repeat center center/cover;}
#news-04 {background: url(../img/slider/slider_04.jpg) no-repeat center center/cover;}
#news-05 {background: url(../img/slider/slider_05.jpg) no-repeat center center/cover;}

/* Overall spacing and settings */
.news-content-wrapper > *
{
  color: #fff;
  z-index: 1;
}

/* Text settings */
.news-content-wrapper .news-headline
{
  font-size: 2.8rem;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.news-content-wrapper .news-brief
{
  max-width: 720px;
  margin-top: 64px;

  text-align: justify;
  font-size: 1.3rem;
  font-weight: 300;
  text-shadow: 1px 1px 2px #000;
}

/* Button settings */
.news-content-wrapper .btn
{
  width: 128px;
  margin-top: 24px;
  pointer-events: visible;
}

/***** Showcase section *****/
/*** Div configs ***/
.showcase-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 96px;
}

.showcase-content > * {border-radius: 2px; transition: all 0.1s ease-in-out;}
.showcase-content > *::before {border-radius: 2px;}
.showcase-content
{
  max-height: 100%;
  max-width: 80vw;

  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}

.showcase-content > *:hover,
.showcase-content > *:focus
{
  transform: scale(1.01);
}

/*** Article section configs ***/
.showcase-article
{
  grid-column: 1;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 10fr;

  padding: 24px;
  position: relative;

  background: url(../img/showcase/article_ceo_of_sex.jpg) no-repeat center top/cover;
}

.showcase-section-title, .showcase-section-location {color: #fff; z-index: 1; text-shadow: 1px 1px 3px #000;}

.showcase-section-location
{
  margin-bottom: 42px;
  font-size: 1rem;
}

.showcase-section-title
{
  font-size: 2.6rem;
  margin-bottom: 8px;
}

/*** Video section configs ***/
.showcase-video
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  padding: 16px;
}

#video-01
{
  position: relative;

  grid-column: 2;
  grid-row: 1;
  background: url(../img/showcase/video_seal.jpg) no-repeat center center/cover;
}

#video-02
{
  position: relative;

  grid-column: 2;
  grid-row: 2;
  background: url(../img/showcase/video_pillows.jpg) no-repeat center top/cover;
}


.showcase-article::before, .showcase-video::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/***** Editor picks *****/
.news-grid-container
{
  max-width: 80vw;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 96px;
}

.news-grid-content
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.editor-news-section:hover {transform: scale(1.01);}
.editor-news-section
{
  place-items: center;

  padding: 24px;
  border-radius: 2px;
  border: solid 1px #99999922;
  background-color: #fff;
  transition: all 0.08s ease-in-out 0.02s;
}

.editor-news-section-h
{
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;

}

.news-section-content > *
{margin-bottom: 12px;}

.news-section-content
{margin-top: 32px;}

.editor-news-section img
{
  width: 100%;
  border-radius: 2px;
}

.news-section-text
{text-align: justify;}

.editor-news-section .release-time
{opacity: 0.8;}

.bg-dark
{
  background-color: #272730;
  color: #fff;
}

.bg-red
{
  background-color: var(--primary-red);
  color: #fff;
}

/***** Interesting for you *****/
.for-you-container
{
  max-width: 80vw;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 96px;
}

.for-you-content
{
  display: grid;
  grid-template-columns: 21fr 9fr;
  grid-gap: 32px;
}

/*** Main section ***/
.for-you-news-section
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 24px;
  overflow: hidden;
  padding: 24px;
  margin-bottom: 16px;

  border-radius: 2px;
  border: solid 1px #99999939;
  background-color: #fff;
}

.for-you-news-section img
{
  width: 100%;
  height: 232px;
  object-fit: cover;
  object-position: center top;
}

.for-you-news-section .news-section-headline
{color: var(--primary-red);}

.for-you-news-section .release-time
{
  color: var(--primary-red);
  opacity: 0.8;
}

/*** Aside section ***/
/* Weather */
.info-section-weather
{
  padding: 16px;
  margin-bottom: 24px;

  background-color: #fff;
}

.info-section-weather span
{color: var(--primary-red);}

.weather-city
{
  color: var(--primary-red);
  font-size: 1.9rem;
}

.weather-rain-chance
{margin-bottom: 24px;}

.weather-min-max
{margin-bottom: 36px;}

.weather-min-max i
{color: var(--orange);}

.weather-icons-day
{
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary-red);
}

.weather-icons
{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

.weather-icons p
{
  font-size: 1.1rem;
  color: #222;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.weather-icons i
{
  font-size: 3.3rem;
  color: #aaa;
}

/* Most read */
.info-section-most-read
{
  background-color: #fff;
  padding-block: 16px;

  border: 1px solid rgba(92, 92, 92, 0.2);
}

.most-read-title
{
  text-align: center;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(92, 92, 92, 0.15);
}

.most-read-news-section
{padding-inline: 32px;}

.most-read-news-section li
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  padding: 12px 4px;
  font-weight: 700;
  color: #999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.most-read-news-section li:last-child
{border-bottom: 1px solid #00000000;}

.number
{font-size: 1.5rem;}

.most-read-news-section li a
{
  color: var(--primary-red);
  transition: all 0.1s ease-in-out 0.05s;
}

.most-read-news-section li a:hover
{color: #9e2727;}