/***** Variables *****/
:root
{
  --primary-red: #be2e2f;
  --orange: #f99500;
  --blue: #009cff;
  --purple: #a66bbe;
}

/***** News slider *****/
/*** Slider frame ***/
.news-slider-container
{
  width: 100vw;
  height: 70vh;
  margin-bottom: 32px;
}

.news-slider-content::-webkit-scrollbar {width: 0; background: transparent;}
.news-slider-content::-webkit-scrollbar-thumb {background: transparent;}
.news-slider-content
{
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

/*** Individual slider frame ***/
/* News frame and background image settings */
.news-content-wrapper
{
  flex: none;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 20fr 1fr;

  scroll-snap-align: start;
  pointer-events: none;

  height: 100%;
  width: 100%;
  padding: 64px 16px;
}

.news-content-wrapper::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.swipe-arrow i {font-size: 2rem; margin-bottom: 4px;}
.swipe-arrow
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: visible;

  margin-inline: 64px;
  background-color: #00000000;
  font-family: 'Lato', sans-serif;
}

#news-01 {background: url(../img/slider/slider_01.jpg) no-repeat center center/cover;}
#news-02 {background: url(../img/slider/slider_02.jpg) no-repeat center center/cover;}
#news-03 {background: url(../img/slider/slider_03.jpg) no-repeat center center/cover;}
#news-04 {background: url(../img/slider/slider_04.jpg) no-repeat center center/cover;}
#news-05 {background: url(../img/slider/slider_05.jpg) no-repeat center center/cover;}

/* Overall spacing and settings */
.news-content-wrapper > *
{
  color: #fff;
  z-index: 1;
}

/* Text settings */
.news-content-wrapper .news-headline
{
  font-size: 2.8rem;
  letter-spacing: 3px;
}

.news-content-wrapper .news-brief
{
  max-width: 720px;
  margin-top: 64px;

  text-align: justify;
  font-size: 1.3rem;
  font-weight: 300;
}

/* Button settings */
.news-content-wrapper .btn
{
  width: 128px;
  margin-top: 24px;
  pointer-events: visible;
}

/***** Showcase section *****/
/*** Div configs ***/
.showcase-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  height: 600px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 64px;
}

.showcase-content > * {border-radius: 2px; transition: all 0.1s ease-in-out;}
.showcase-content > *::before {border-radius: 2px;}
.showcase-content
{
  height: 100%;

  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}

.showcase-content > *:hover,
.showcase-content > *:focus
{
  transform: scale(1.005);
}

/*** Article section configs ***/
.showcase-article
{
  grid-column: 1;
  grid-row: 1 / span 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 10fr;

  padding: 24px;
  position: relative;

  background: url(../img/showcase/article_ceo_of_sex.jpg) no-repeat center top/cover;
}

.showcase-section-title, .showcase-section-location {color: #fff; z-index: 1;}

.showcase-section-location
{
  margin-bottom: 42px;
  font-size: 1rem;
}

.showcase-section-title
{
  font-size: 2.6rem;
  margin-bottom: 8px;
}

/*** Video section configs ***/
.showcase-video
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  padding: 16px;
}

#video-01
{
  position: relative;

  grid-column: 2;
  grid-row: 1;
  background: url(../img/showcase/video_seal.jpg) no-repeat center bottom/cover;
}

#video-02
{
  position: relative;

  grid-column: 2;
  grid-row: 2;
  background: url(../img/showcase/video_pillows.jpg) no-repeat center top/cover;
}


.showcase-article::before, .showcase-video::before
{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}